/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 100px;
    background-color: #3161e0;
}

header .container {
    width: 80%;
    height: 100px;
    padding-top: 10px;
}

header .container::after{
    content: "";
    display: table;
    clear: both;
}

header img {
    float: left;
}

/* Nav list */
header ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 5%;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
}


/* Jumbotron */
#jumbotron .container {
    width: 45%;
    height: 85vh;
    /* Debug */
    background-color: red;
}

/* Main */
.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    /* Debug */
    background-color: brown;
}

/* Footer */
footer section div {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    /* Debug */
    background-color: green;  
}